@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&family=Rubik:wght@500&family=Sigmar&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: url(/pic/cool-black-background-5hzas.webp) no-repeat;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
 }
.form a{
  font-size: 16px;
  color: #6b6b6b;
  text-decoration: none;
}
button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(7, 7, 7);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #adadad;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.signup{
  font-size: 17px;
  text-align: center;
}
button a .signup label{
  color: #6b6b6b;
  cursor: pointer;
}
button a .signup label:hover{
  text-decoration: underline;
}